* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Sans, Arial, sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}
main {
  flex-grow: 1;
}
.logo img {
  width: 60px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.logo {
  margin-top: 0;
  margin-right: auto;
}

.navbar {
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  display: flex;
  background: linear-gradient(67deg, #cd207c, #f30000);
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 5px auto;
}

.navbar-toggle {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  display: none;
}

.main-nav.active {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  flex-wrap: wrap;
  background-color: maroon;
  height: auto;
  border-radius: 20px;
}
.main-text{
  color: white;

}

p.text{
text-align: center;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(67deg, #cd207c, #f30000);
  color: white;
  text-align: center;
  padding: 20px;
  height: 4em;
}

.social-icons .icon {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  transition: all 0.3s ease;
}

.social-icons .icon:hover {
  transform: scale(1.2);
  color: #ff0000;
}

@media screen and (max-width: 767px) {
  .navbar,
  .main-nav,
  .main-nav li {
    padding-bottom: 0;
    display: block;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 4em;
  }

  .main-nav {
    text-align: center;
    position: absolute;
    right: 0;
    margin: 0;
    top: 70px;

    z-index: 1;
    box-sizing: border-box;
    display: none;
    background-color: maroon;
    border-radius: 20px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .main-nav.active {
    margin: 0;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .nav-links {
    margin: 10px 0;
    color: #fff;
    display: block;
    line-height: 0.5;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
    margin-top: 5px;
  }

  h1.main-text {
    font-size: 20px;
  }

  .social-icons .icon {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    position: static;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

@media screen and (max-width: 400px) {
  h1.main-text {
    font-size: 20px;
  }
  .second-text {
    line-height: 18px;
  }
  p.text {
    font-size: 15px;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
}

/*movies.html*/


.product-thumbnail {
  border: 2px solid #ddd;
  padding: 2rem;
  text-align: center;
  max-width: 500px;
  flex: 1 1 300px;
}

.product-thumbnail img {
  width: 100%;
  height: 24rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}
.description{
  color: black;
  
}
.movies-body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h3 {
  color: #000;
  display: flex;
  justify-content: center;
  font-size: 20px;

}
h1.title {
  text-align: center;
  color: #000;
  


}
main {
  padding: 2rem;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 3rem;
}

.movie {
  border: 2px solid #ddd;
  padding: 2rem;
  text-align: center;
  max-width: 500px;
  flex: 1 1 300px;
}
.btn {
  background: rgb(229, 9, 20);
  color: white;
  margin-top: 5px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
}

.movie img {
  width: 100%;
  height: 24rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.description {
  text-align: start;
  padding-top: 10px;
  color: #000;
}
.genre,
.rating {
  padding-top: 5px;
  display: flex;
  justify-content: left;
}
.genre {
  color: red;
}
.rating{
  color: black ;
}
#productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .product-thumbnail {
      flex: 1 1 100%;
      max-width: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .movie-list {
    flex-direction: column;
    align-items: center;
  }
}


/*product.CSS*/

h1{
  color: black;
  font-size: 3rem;
  text-align: center;
}


.product-details img {
  width: 50rem; 
  height: auto; 
  display: block;
  margin: auto;

}

.product-details p {
  text-align: center; 
  padding-left: 0;
  color: black;
  margin-top: 2em; 
  margin-bottom: 2em;

}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.buttons a {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 10px;
  width: 10rem;
  text-align: center;
}


@media (max-width: 768px) {
  .product-details {
    flex-direction: column; 
  }

  .product-details img {
    width: 100%; 
    padding: 0; 
  }

  .product-details p {
    padding-left: 1em; 
    text-align: center; 
  }
}




/*checkout.html*/
.checkout-body {
  background-image: linear-gradient(-90deg, #e6e2af 0%, #002f2f 100%);
}

.component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 70%;
  margin: 5rem auto;
  padding: 1rem;
  box-shadow: 2px 2px 10px #454545;
  background-color: #ffffff;
  text-align: center;
}

.credit-card h2 {
  color: rgba(4, 99, 128, 1);
}

.component .credit-card form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.component .credit-card .line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.component .credit-card .line input {
  flex: 1;
  margin: 0.4rem 0.3rem;
}

input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 1rem 0;
  padding: 4px;
  font-size: 1rem;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #aaaaaa;
}

.valid-button {
  border: 0;
  padding: 1rem 2rem;
  background-color: rgba(4, 99, 128, 0.9);
  color: #efecca;
  font-weight: bold;
  margin-top: 2rem;
  box-shadow: 1px 1px 1px black;
  margin: auto;
}
a.valid-button {
  text-decoration: none;
}
.valid-button:hover {
  background-color: rgba(4, 99, 128, 1);
  box-shadow: none;
}

.total p {
  background-color: red;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

@media screen and (max-width: 768px) {
  .component {
    width: 70%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .line {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .component {
    width: 70%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*Confirmation.html*/

.Confirmation-body {
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #e1e8ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e8ed',GradientType=0 );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.content {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.wrapper-2 {
  height: auto;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
h1 {
  letter-spacing: 3px;
  margin: 0;
  margin-bottom: 20px;
}
.wrapper-2 p {
  margin: 0;
  font-size: 1.3rem;
  color: black;
}
.go-home {
  background: #5892ff;
  border: none;
  width: 80%;
  display: block;
  padding: 20px 20px;
  margin: 30px 0;
  border-radius: 20px;
  text-transform: capitalize;
  box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}

.go-home a {
  color: white;
  text-decoration: none;
}
@media (min-width: 600px) {
  .content {
    max-width: 80vw;
    margin: 0 auto;
  }
  .wrapper-1 {
    height: initial;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
  }
}

@media (max-width: 600px) {
  .content {
    max-width: 80vw;
    margin: 0 auto;
  }
  .wrapper-1 {
    height: initial;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
  }
  h1 {
    font-size: 2em;
  }
}
/**About.css*/


.we-are-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 900px;
}

#about-us-section {
  background: #0c4c91;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about-us-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}
.about-us-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-right: 850px;
  margin-left: 12px;
  z-index: 2;
}
.about-us-info h1 {
  color: white;
  font-size: 40pt;
  text-align: center;
}

.about-us-info p {
  color: white;
  font-size: 14pt;
  text-align: right;
}

.about-us-info a {
  text-decoration: none;
  background-color: white;
  color: #0c4c91;
  width: 180px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about-us-info a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}

#history-section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.history-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 820px;
  height: 100%;
  overflow: hidden;
}
.history-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-left: 850px;
  margin-right: 12px;
  z-index: 2;
}

.history-info p {
  color: #0c4c91;
  font-size: 14pt;
  text-align: left;
}
.history-info h2 {
  color: #0c4c91;
  font-size: 40pt;
  text-align: left;
}
.history-info a {
  text-decoration: none;
  background-color: #0c4c91;
  color: white;
  width: 180px;
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.history-info a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}


@media screen and (max-width: 860px) {
  .we-are-block {
    height: 2200px;
  }
  #about-us-section {
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-image {
    position: relative;
    width: 100%;
    height: 45%;
  }
  .about-us-info {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 20px 0px 20px !important;
    width: 100%;
    height: 55%;
    align-items: center;
  }
  .about-us-info h2 {
    text-align: center;
  }
  .about-us-info p {
    text-align: center;
  }
  #history-section {
    flex-direction: column;
    justify-content: space-between;
  }
  .history-image {
    position: relative;
    width: 100%;
    height: 40%;
  }
  .history-info h2 {
    font-size: 32px;
    text-align: center;
  }
  .about-us-info h2{
    font-size: 32px;
  }


  .history-info p {
    text-align: center;
  }
}
@media screen and (max-width: 1353px) {
  .about-us-info {
    margin-right: 400px;
    width: 60%;
    background: #0c4c9199;
    padding: 0px 25px 0px 0px;
  }
  .history-info {
    margin-left: 400px;
    width: 60%;
    background: #ffffff99;
    padding: 0px 0px 0px 25px;
  }
}

@media screen and (max-width: 1238px) {
  .about-us-info {
    margin-right: 340px;
    width: 100%;
  }
  .history-info {
    margin-left: 340px;
    width: 100%;
  }
}
@media screen and (max-width: 1111px) {
  .about-us-info {
    margin-right: 270px;
  }
  .history-info {
    margin-left: 270px;
  }
}

@media screen and (max-width: 910px) {
  .about-us-info {
    margin-right: 150px;
  }
  .history-info {
    margin-left: 150px;
  }
}

@media screen and (max-width: 860px) {
  .history-info {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 40px 0px 40px !important;
    width: 100%;
    height: 60%;
    align-items: center;
  }
}
@media screen and (max-width: 747px) {
  .about-us-info {
    height: 65%;
  }
  .history-info {
    height: 65%;
  }
  .history-image {
    height: 35%;
  }
  .about-us-image {
    height: 35%;
  }
}

@media screen and (max-width: 644px) {
  .about-us-image img {
    position: absolute;
    left: -220px;
  }
  .history-image img {
    position: absolute;
    right: -220px;
  }
}


@media screen and (max-width: 500px) {
  .we-are-block {
    height: 2300px;
  }
}


@media (max-width: 400px){
  .history-info p{
    font-size: 10px;
  }
  .about-us-info p{
    font-size: 10px;
  }
 
}



/*contact.html*/



.Login{
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
   
    
  }
  .Contact-page {
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: auto;
    margin: 0 auto;
    background-color: white;
    padding: 16px;
    border: 3px solid #f1f1f1;
    margin-top: 40px ;
  
  }
  
  input[type=text], input[type=password], button {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #04AA6D;
    cursor: pointer;
    color: white;
  
   
  }
  
  .cancelbtn {
    width: 20%;
    background-color: red;
    margin-top: 20px;
  
  }
  
  span.psw {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    margin-top: 10px;
    font-size: 13px;
  
  }
  
  span.psw a {
    text-decoration: underline;
  
  }
  b{
    padding-left: 0.5em;
   list-style: none;
  }
  
  .form-container {
    border-radius: 5px;
    
    padding: 20px;
  
  }
 
   textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
    height: 200px;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: auto;
  }

  input[type=submit]:hover,button[type=submit]:hover{
    background-color: #45a049;
  }
  .title{
    color: white;
  text-align: center;
   height: 2rem;
  margin-top: 20px;
  font-size: 45px;
  
  
  }
  .movie-container {
    display: flex;
    justify-content: space-around;
  
  }
  
  .box-1, .box-2, .box-3, .box-4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px; 
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  }
  
  .box-1 img, .box-2 img, .box-3 img, .box-4 img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .sbox-1 {
    font-weight: bold;
    margin: auto;
  
   
  }
  
  .button1 {
    display: block;
    margin: auto;
    margin-top: 15px;
  }
  
  .button1 a {
    color: white;
    background-color: #ee0979;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .button1 a:hover {
    background-color: #ff0057;
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    form {
        max-width: 100%;
    }
    .cancelbtn{
      width: 100%;
    }
  
  }
  
  @media (max-width: 480px) {
    input[type=text], input[type=password], button, .cancelbtn {
        width: 100%;
    }
  }
  
  
  @media screen and (min-width:768px) {
    .movie-container {
      display: flex;
      flex-wrap: wrap;
     
    
    }
    .box-1, .box-2, .box-3, .box-4 {
      width: 30%;
    }
    
  }
  @media screen and (max-width: 768px) {
  
    .movie-container {
      display: flex;
      flex-wrap: wrap;
    
    }
    .box-1, .box-2, .box-3, .box-4 {
      display: flex;
      width: 40%;
    }
  }
  @media screen and (max-width: 400px){
    .movie-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 20px;
    }
    .box-1, .box-2, .box-3, .box-4 {
      display: flex;
      width: 100%;
      margin: auto;
    
    }
  }
  


  /*Login.html*/
  
  .login-body{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .form-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }



